# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.npm
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project generated
*.log
*.zip

# PyInstaller
build/
dist/
*.spec
